#mapa{
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#text-info {
    border-top: 3px solid black;
    border-bottom: 3px solid black;

    p {
        text-align: end !important;
        margin-bottom: 0 !important;
    }

    .container a{
        border-radius: 40px; 
        padding: 20px;
        background-color: white;
        text-decoration: none;
        font-size: x-large;
        font-weight: bold;
    }
}

#btn-whatsapp:hover {
    background-color: #32a852 !important;
    color: white !important;
}

#btn-instagram:hover {
    background-color: #c700af !important;
    color: white !important;
}

