.opcaoTipo .container {
    width: 99.5%;
    border-radius: 10px; /* Rounded corners */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding-top: 5%; /* Vertical padding */
    padding-bottom: 5%; /* Vertical padding */
    background-color: white;
}

#produtos {
    background: linear-gradient(-120deg, black 50%,whitesmoke 50%,whitesmoke 50.2%, black 50.2%, black 52.2%,whitesmoke 52.2%,whitesmoke 52.4%, black 52.4%, black 53.2%,whitesmoke 53.2%);
    background-size: cover;
}