#header {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../assets/images/woodwork_background.jpeg');
    background-size: cover;
    
}

#btnHeader:hover {
    color: white !important;
    background-color: black;
    
}


.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
  }

  .checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    
  }
  .checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: transparent;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }

  #info-video{
    background: linear-gradient(
      -60deg,
      white 4%,
      black 4%,
      black 96%,
      whitesmoke 96%
    );
  }

  #mapa{
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#text-info {

    p {
        text-align: end !important;
        margin-bottom: 0 !important;
    }

    .container a{
        border-radius: 40px; 
        padding: 20px;
        background-color: white;
        text-decoration: none;
        font-size: x-large;
        font-weight: bold;
    }
}

#btn-whatsapp:hover {
    background-color: #32a852 !important;
    color: white !important;
}

#btn-instagram:hover {
    background-color: #c700af !important;
    color: white !important;
}

#titleOndeEstamos{
    margin: 0 auto !important;
    text-align: center !important;
    
}

#parceiros {
    /* background: linear-gradient(60deg, white 10%,whitesmoke 10%,whitesmoke 10.2%, white 10.2%, white 12.2%,whitesmoke 12.2%,whitesmoke 12.4%, white 12.4%, white 13.2%,whitesmoke 13.2%);
     */
     background: linear-gradient(
        -60deg,
        white 15%,
        lightgray 15%,
        lightgray 53.6%,
        whitesmoke 53.6%
      );
     

}

.opcaoTipo .container {
    width: 99.5%;
    border-radius: 10px; /* Rounded corners */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding-top: 5%; /* Vertical padding */
    padding-bottom: 5%; /* Vertical padding */
    background-color: white;
    border: 2px solid whitesmoke;
}

#produtos {
    background: linear-gradient(-120deg, black 50%,whitesmoke 50%,whitesmoke 50.2%, black 50.2%, black 52.2%,whitesmoke 52.2%,whitesmoke 52.4%, black 52.4%, black 53.2%,whitesmoke 53.2%);
    background-size: cover;
}

/* Esconde o conteúdo do site enquanto está carregando */
body:not(.loaded) {
  overflow: hidden;
}

/* Estilos para o loader */
#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  text-align: center;
  line-height: 100vh;
}

/* Esconde o loader quando o site está carregado */
body.loaded #loader {
  opacity: 0;
  transition: opacity 1s ease-out;
  visibility: hidden;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 4px solid transparent;
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
      transform: rotate(1turn);
  }
}




